.fieldset__fill {
  margin: 10px 20px 0px;
  border: 0;
  border-bottom: 1px solid $pearlGrey;
  @media all and(min-width:768px) {
    margin: 10px 30px 0px 40px;
  }
}

.container__fill {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  &--icon {
    display: flex;
  }
  &--title {
    flex-grow: 1;
    font-size: 18px;
    padding-left: 10px;
    text-transform: uppercase;
    font-family: $opensansFont;
    font-weight: 600;
    color: $metalColor;
  }
  &--iconArrow {
    width: 16px;
    height: 18px;
    font-size: 18px;
    color: $metalColor;
  }
}

.fa-keyboard {
  font-size: 22.4px;
  color: $dullOrange;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  // margin: 0 20px;
  // border-bottom: 1px solid $pearlGrey;
  padding-bottom: 20px;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 40%;
  }
}

.form__label {
  display: block;
  font-size: 14px;
  color: $deepGreen;
  line-height: 20px;
  font-family: $opensansFont;
  margin-bottom: 7px;
}

.form__img {
  display: flex;
  align-items: center;
  margin: 7px 20px 20px 0;
}

.button__img {
  width: 140px;
  height: 30px;
  background-color: $dullOrange;
  font-family: $opensansFont;
  color: #fff;
  font-size: 14px;
  font-size: 14px;
  line-height: 1.43;
  align-self: center;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
  text-align: center;
  padding: 5px;
}

.form__button--square {
  width: 30px;
  height: 30px;
  border: #a2deaf 1px solid;
  margin-left: 20px;
  background-size: cover;
  background-position: center center;
}

.form__input {
  width: 100%;
  height: 30px;
  border: $hospitalGreen solid 1px;
  margin-bottom: 20px;
  font-family: $opensansFont;
  padding: 3px 0 7px 9px;

  &::placeholder {
    font-size: 14px;
    color: #c5c5c5;
    font-family: $opensansFont;
  }
}
.github {
  margin-bottom: 30px;
}

.js_collapsed {
  display: none;
}

.js_arrowRotate {
  transform: rotate(180deg);
}

//Para ocultar el input

.hidden {
  display: none;
}
