<fieldset class="fieldset__design">
  <div class="container__design js_designHeader">
    <i class="far fa-object-ungroup container__design--icon" alt="design"></i>
    <h3 class="container__design--title">diseña</h3>
    <i
      class="fas fa-chevron-up container__design--iconArrow js_arrowDesign"
    ></i>
  </div>
  <div class="select js_designContainer">
    <h3 class="select__title">Colores</h3>
    <div class="select__options">
      <label for="optioncolor1" class="select__options--palette">
        <input
          type="radio"
          value="1"
          name="palette"
          class="select__options--input js_palette js_palette_1"
          checked
        />
        <div class="palette palette__cold1"></div>
        <div class="palette palette__cold2"></div>
        <div class="palette palette__cold3"></div>
      </label>
      <label for="optioncolor2" class="select__options--palette">
        <input
          type="radio"
          value="2"
          name="palette"
          class="select__options--input js_palette"
        />
        <div class="palette palette__hot1"></div>
        <div class="palette palette__hot2"></div>
        <div class="palette palette__hot3"></div>
      </label>
      <label for="optioncolor3" class="select__options--palette">
        <input
          type="radio"
          value="3"
          name="palette"
          class="select__options--input js_palette"
        />
        <div class="palette palette__mix1"></div>
        <div class="palette palette__mix2"></div>
        <div class="palette palette__mix3"></div>
      </label>
    </div>
  </div>
</fieldset>
