<section class="card-preview class">
  <div class="container">
    <button class="reset js_reset">
      <i class="far fa-trash-alt reset__icon"></i>
      Reset
    </button>
    <article class="card">
      <div class="card__decoration card__decoration__palette1"></div>
      <div class="card__info">
        <h3 class="card__info--name js_previewName js_previeNameColor">
          Nombre Apellido
        </h3>
        <p class="card__info--job js_previewJob">Front-end developer</p>
      </div>
      <div class="card__img js__profile-image"></div>
      <ul class="card__social">
        <li class="card__social--icon js_icon_border">
          <a class="js_previewPhone" href="#" target="_blank"
            ><i class="fas fa-mobile-alt js_icon_image"></i
          ></a>
        </li>
        <li class="card__social--icon js_icon_border">
          <a class="js_previewEmail" href="#"
            ><i class="far fa-envelope js_icon_image"></i
          ></a>
        </li>
        <li class="card__social--icon js_icon_border">
          <a class="js_previewLinkedin" href="#" target="_blank"
            ><i class="fab fa-linkedin-in js_icon_image"></i
          ></a>
        </li>
        <li class="card__social--icon js_icon_border">
          <a class="js_previewGithub" href="#"
            ><i class="fab fa-github-alt js_icon_image"></i
          ></a>
        </li>
      </ul>
    </article>
  </div>
</section>
