<fieldset class="fieldset__share">
    <div class="container__share js_shareHeader">
        <div class="container__share--icon">
            <i class="fas fa-share-alt" alt="Share"></i>
            <h3 class="container__share--title">Comparte</h3>
        </div>
        <i class="fas fa-chevron-up js_arrowShare container__share--iconArrow
        arrowShare js_arrowRotate"></i>
    </div>
    <div class="js_collapsed js_shareContainer">
        <div class="container__button js_collapsed">
            <button class="container__button__btn--card js_create_button">
                <i class="far fa-address-card container__button--icon"></i>crear tarjeta
            </button>
        </div>
</fieldset>

<fieldset class="fieldset__share js_collapsed js_shareCollapse ">
    <div class="container__created">
        <h4 class="container__created--title">La tarjeta ha sido creada:</h4>
        <!-- <a href="" class="container__created--link js_cardURL"></a>
        <a href="#" class="btn--twitter js_btnTwitter" target="_blank"></a> -->
        <a href="#" class="container__created--link js_cardURL js_twitterFetch " target="_blank"></a>
        <a type="submit" class="btn--twitter js_btnTwitter js_collapsed" target="_blank">
            <i class="fab fa-twitter twitter-icon"></i>Compartir en twitter
        </a>
    </div>
</fieldset>



