// fonts
$merriweatherBlack: "Merriweather", serif;
$opensansFont: "Open Sans", sans-serif;
$montserratFont: "Montserrat", sans-serif;

// colors
$dullOrange: #e17334;
$deepGreen: #114e4e;
$dirtyBlue: #438792;
$brownishGrey: #6b6b6b;
$metalColor: #54585a;
$hospitalGreen: #a2deaf;
$twitterBlue: #00a0f5;
$pearlGrey: #d5d5d5;

$deepRed: #420101;
$rustyRed: #bd1010;
$tomatoRed: #e95626;

$blackboard: #3e5b65;
$eggYellow: #eab052;
$lightGreyBlue: #a0c0cf;
